
<table id="userTable">
    <thead>
        <tr>
            <th>User Name</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        {{#each user}}
        <tr>
                <td>
                    <form action="/" method="GET">
                        <input type="hidden" id="cv_user" name="cv_user" value="{{this.username}}">
                        <button class="btn"> {{this.username}} </button> 
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>