<h1>CV</h1>
<section class="cv-section">
    <h2>Education</h2>
    <div class="education-list">
        {{> education }}
    </div>
</section>
<section class="cv-section">
    <h2>Working Experience</h2>
    {{!-- {{> }} --}}
</section>
<section class="cv-section">
    <h2>Certificates</h2>
    {{!-- {{> }} --}}

</section>