<h1>Contact</h1>

<div class="container">
      <div class="columns">
        <div class="column col-3 col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="my-avatar">
            <img src="img/Somayeh.jpg" alt="wite for opening" />

            <h1>Somayeh <br />Hossein Niay</h1>
          </div>

          <div class="phone">
            <span>&#x260E;</span>
            08 08 08 08 08
          </div>

          <div class="email">
            <i class="icon icon-mail"></i>

            <a href="mailto:somaye.hosinnia33@gmail.com"
              >somaye.hosinnia33@gmail.com</a
            >
          </div>
          <div class="Address">
            <i class="icon icon-location"></i> Torggatan 2, Stockaryd
          </div>

          <div class="social">
            <figure class="avatar avatar-lg">
              <a
                href="https://www.instagram.com/somayehosinnia/"
                target="_blank"
              >
                <img src="img/instagram.png" />
              </a>
            </figure>

            <figure class="avatar avatar-lg">
              <a
                href="https://www.facebook.com/somayehosinnia/"
                target="_blank"
              >
                <img src="img/facebook.png" />
              </a>
            </figure>

            <figure class="avatar avatar-lg">
              <a
                href="https://www.linkedin.com/in/somayeh-hossein-niay-shakhali"
                target="_blank"
              >
                <img src="img/linkedin.png" />
              </a>
            </figure>
          </div>
        </div>

        <div class="column col-9 col-lg-6 col-md-6 col-sm-12">
          <div class="accordion my-accordion">
            <input
              type="radio"
              id="accordion-1"
              name="accordion-radio"
              hidden
            />
            <label class="accordion-header" for="accordion-1">
              <i class="icon icon-arrow-right mr-1"></i>
              Education
            </label>
            <div class="accordion-body">
              <span class="h2">Education</span>
              <ul>
                <li>2022 Student Software Engineering and Mobile Platforms</li>
                <li>2008 Bachelor of Accounting</li>
                <li>2004 Diploma in mathematics and physics</li>
              </ul>
            </div>
          </div>
          <div class="accordion my-accordion">
            <input
              type="radio"
              id="accordion-3"
              name="accordion-radio"
              hidden
            />
            <label class="accordion-header" for="accordion-3">
              <i class="icon icon-arrow-right mr-1"></i>
              Professional experience
            </label>
            <div class="accordion-body p-3">
              <span class="h2">Professional experience</span>
              <ul>
                <li>
                  2016-2022 Educational Assistant at Aleholm's school (Sweden)
                </li>
                <li>2014-2016 Unaccompanied children to Sweden (Sweden)</li>
                <li>2008-2013 Private Company accountant(Iran)</li>
              </ul>
            </div>
          </div>
          <div class="accordion my-accordion">
            <input
              type="radio"
              id="accordion-2"
              name="accordion-radio"
              hidden
            />
            <label class="accordion-header" for="accordion-2">
              <i class="icon icon-arrow-right mr-1"></i>
              Computer Skills
            </label>
            <div class="accordion-body p-2">
              <span class="h2">Computer Skills</span>

              <div class="columns">
                <div class="column col-5 col-lg-12">
                  <label>Programming Languages: C++ </label>
                  <div class="bar">
                    <div
                      class="bar-item tooltip"
                      data-tooltip="100%"
                      style="width: 100%"
                    >
                      75%
                    </div>
                  </div>

                  <hr />
                  <label
                    >Microsoft Office Suite: Word, Excel, PowerPoint,
                    Outlook</label
                  >
                  <div class="bar">
                    <div
                      class="bar-item tooltip"
                      data-tooltip="100%"
                      style="width: 100%"
                    >
                      100%
                    </div>
                  </div>

                  <hr />
                  <label> Database Management: SQL</label>
                  <div class="bar">
                    <div
                      class="bar-item tooltip"
                      data-tooltip="100%"
                      style="width: 100%"
                    >
                      80%
                    </div>
                  </div>

                  <hr />
                  <label>Development Environments: Qt, Visual Studio </label>
                  <div class="bar">
                    <div
                      class="bar-item tooltip"
                      data-tooltip="100%"
                      style="width: 100%"
                    >
                      90%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion my-accordion">
            <input
              type="radio"
              id="accordion-4"
              name="accordion-radio"
              hidden
            />
            <label class="accordion-header" for="accordion-4">
              <i class="icon icon-arrow-right mr-1"></i>
              Languages
            </label>
            <div class="accordion-body p-4">
              <span class="h2">Languages</span>
              <ul>
                <li>Persian (Fluent)</li>
                <li>Swedish (Advanced)</li>
                <li>English (Advanced)</li>
              </ul>
            </div>
          </div>

          <div class="accordion my-accordion">
            <input
              type="radio"
              id="accordion-5"
              name="accordion-radio"
              hidden
            />
            <label class="accordion-header" for="accordion-5">
              <i class="icon icon-arrow-right mr-1"></i>
              Others
            </label>
            <div class="accordion-body p-5">
              <span class="h2">Others</span>
              <ul>
                <li>Hobbies:hiking, painting, playing musical instruments.</li>
                <li>Driving License:I hold a Class B driving license.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>