<div class="profile-card ">
    
    <div class=" text-center">
          <div class="my-avatar">
            <img src="img/Somayeh.jpg" alt="wite for opening" />

            <h3>Somayeh Hossein Niay</h3>
          </div>

          <div class="phone">
            <span>&#x260E;</span>
            08 08 08 08 08
          </div>

          <div class="email">
            <i class="icon icon-mail"></i>

            <a href="mailto:somaye.hosinnia33@gmail.com"
              >somaye.hosinnia33@gmail.com</a
            >
          </div>
          <div class="Address">
            <i class="icon icon-location"></i> Torggatan 2, Stockaryd
          </div>

          <div class="social">
            <figure class="avatar avatar-lg">
              <a
                href="https://www.instagram.com/somayehosinnia/"
                target="_blank"
              >
                <img src="img/instagram.png" />
              </a>
            </figure>

            <figure class="avatar avatar-lg">
              <a
                href="https://www.facebook.com/somayehosinnia/"
                target="_blank"
              >
                <img src="img/facebook.png" />
              </a>
            </figure>

            <figure class="avatar avatar-lg">
              <a
                href="https://www.linkedin.com/in/somayeh-hossein-niay-shakhali"
                target="_blank"
              >
                <img src="img/linkedin.png" />
              </a>
            </figure>
          </div>
        </div>
    
</div>
