{{#if isAuthenticated}}
<div class="grid-container">
    <div class="user-list">
        {{> user-list}}
    </div>
    <div class="cv-details">
      <h1>CV</h1>
        <section class="cv-section">
            <h2>Education</h2>
            <div class="education-list">
                {{> education }}
            </div>
        </section>
        <section class="cv-section">
            <h2>Working Experience</h2>
            {{> work}}
        </section>
        
    </div>
</div>
{{else}}
<a href="/login">Please login</a>
{{/if}}