<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
</head>
<body>
    <h1>Profile</h1>
    <form method="post" action="/profile/update">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{ user.firstName }}" required><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{ user.lastName }}"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ><br><br>

        <button type="submit">Update Profile</button>
    </form>
</body>
</html>